/* Footer.css */

.footer {
    background-color: black;
    color: white;
    padding: 40px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    margin: 2px;
  }
  
  .footer-section h2 {
    margin-bottom: 2px;
    font-size: 1.5em;
    color: #ffffff;
  }
  
  .footer-section p, .footer-section ul, .footer-section .social-icons {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer-section ul {
    padding: 0;
    list-style: none;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s, box-shadow 0.3s;
    padding: 8px 16px;
    border-radius: 4px;
    display: inline-block;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
  }
  
  .footer-section ul li a:hover {
    color: #f0f0f0;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  }
  
  .footer-section .social-icons a {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.5em;
    color: white;
    transition: color 0.3s, box-shadow 0.3s;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
  }
  
  .footer-section .social-icons a:hover {
    color: #f0f0f0;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  }
  
  .footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
    margin-top: 10px;
  }
  