.newcollections {
    padding: 20px;
  }
  
  .newcollections h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .newcollections hr {
    width: 50%;
    margin-left: 10px;
    border: 1px solid #ddd;
  }
  
  .collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 items in one row */
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease;
  }
  .collections img{
    border:1px solid black;
    border-radius:14px;
  
  transition: transform 0.3s ease;
  }
  .collections img:hover{
    transform: scale(1.1);
  }
  

  