.productdisplay {

    display: flex;
    align-items: flex-start;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.productdisplay-left {
    flex: 1;
    margin-right: 20px;
    display: flex;
    
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap:16px;}
  
.productdisplay-img-list img{
        height: 163px;
      }
.productdisplay-main-img{
        width:586px;
        height:700px;
    }
    
.productdisplay-right-sizes{
    display:flex;
    margin:30px 0px;
    gap:20px;
   
  }
  .productdisplay-right-sizes div:hover{
    background-color:#f4d0d0;
  }
.productdisplay-right-sizes div{
        padding:18px 24px;
        background: #fff;
        border:1px solid #ebebeb;
        border-radius: 3px;
        cursor: pointer;
        transition: 0.2s ease;
      }
.productdisplay-right {
    flex: 2;
}



.productdisplay-right h1 {
    margin-top: 0;
    font-size: 24px;
}

.productdisplay-right p {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.productdisplay-right button {
    background-color: #007bff;
    background: #FF4141;
    color: #fff;
    border: none;
    padding:20px 40px;
    width:200px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 40px;
    outline:none;
}

.productdisplay-right button:hover {
    background-color:#d49298;
}

.productdisplay-right-prices{

    margin: 40px 0px;
    gap:30px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .productdisplay-right-prices-old{
    color:#818181;
    text-decoration: line-through;
  }
  
  .productdisplay-right-prices-new{
    color:red;
  }
  .productdisplay-right-category{
    margin-top:10px;
  }
  
  .productdisplay-right-category span{
    font-size: 600;
  }
  
